<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/js/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main-forget.css">
<!--===============================================================================================-->


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form class="login100-form validate-form-confirm" action="/users/forget_password_confirm/{{token}}" method="POST" autocomplete="off">
                <span class="login100-form-title p-b-40">
                    Confirmation forget password
                </span>

                {{error}}



                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter at least 5 characters">
                    <input class="input100" type="password" name="password" placeholder="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter at least 5 characters">
                    <input class="input100" type="password" name="confirm" placeholder="password confirm">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="/js/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/js/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/js/bootstrap/js/popper.js"></script>
<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/js/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/daterangepicker/moment.min.js"></script>
<script src="/js/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/js/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/main-forget-password.js"></script>
