<link rel="stylesheet" href="/css/404.css">
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="fl_left">
        <h1><span>User not Exist</span></h1>
      </div>
      <div class="fl_right">
        <h2>Please sign up</h2>
     
      </div>
      <p><a class="go-back" href="javascript:history.go(-1)">&laquo; Go Back</a> 
    </section>
  </div>
</div>