<link rel="stylesheet" href="/css/404.css">
 <link rel="stylesheet" href="/css/util.css">
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="fl_left">
        <h6><span class="alert alert-danger">Password reset token is invalid or has expired.</span></h6>
      </div>
      
      <p><a class="go-back" href="javascript:history.go(-1)">&laquo; Go Back</a> 
    </section>
  </div>
</div>