<!-- start footer Area -->
<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4  col-md-12">
				<div class="single-footer-widget">
					<h6>Links</h6>
					<ul class="footer-nav">
						<li>
							<a href="#" style="font-size:16px;">Privacy</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="single-footer-widget newsletter">
					<h6>Support</h6>
					<p>You Have a Problem? Ask Us</p>
					<div id="mc_embed_signup">
						<form novalidate="true" action="" class="form-inline">

							<div class="form-group row" style="width: 100%">
								<div class="col-lg-6 col-md-12">
									<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="" tabindex="-1" value="" type="text">
									</div>
								</div>

								<div class="col-lg-6 col-md-12">
									<button class="nw-btn primary-btn">Send
										<span class="lnr lnr-arrow-right"></span>
									</button>
								</div>
							</div>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>

		</div>

		<div class="row footer-bottom d-flex justify-content-between">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<p class="col-lg-8 col-sm-12 footer-text">Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
				<i class="fa fa-heart-o" aria-hidden="true"></i> by
				<a href="https://colorlib.com" target="_blank">Colorlib</a>
			</p>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</div>
</footer>