{{#if success_msg}}
<div class="alert alert-success m-t-40">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger m-t-40">{{error_msg}}</div>
{{/if}}


{{#if error}}
<div class="alert alert-danger m-t-40">{{error}}</div>
{{/if}}

